.App {
    background: url('./images/bgImage1.png') center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
}
.App .mt-3 {
    margin-top: 0 !important;
}
.App .addBuilding, .App .selectUser, .App .buidingsList, .App .editBuilding {
    background-color: white;
    border-radius: 7px;
    padding: 2em;
    min-width: 40%;
    box-shadow: -3px 1px 31px -2px #b6b6b6;
    margin: auto;
}
@media only screen and (min-width: 1080px) {
    .App .addBuilding, .App .selectUser, .App .buidingsList, .App .editBuilding {
        min-width: 35% !important;
    }
}
.App .addBuilding .btn, .App .selectUser .btn {
    background-color: #3db53d;
    color: white;
    margin: auto;
    width: 125px;
    display: block;
    margin-top: 23px;
    height: 38px;
    font-size: 17px;
    border-radius: 6px;
}
.App .addBuilding .btn:focus {
    box-shadow: none;
}
.App .ui.fluid.dropdown {
    min-width: 100%;
    margin: 0;
}
.App .list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.App .list-group-item h6 {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
}
.App .list-group-item img {
    height: 20px;
    width: 24px;
    margin-left: 18px;
    object-fit: contain;
}
.App .list-group-item .imgDiv {
    display: flex;
    align-items: center;
}